body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}
.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
  display: none;
}
.header-menu-item {
  padding: 24px 0;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
}
.underline::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-menu-link:focus,
.header-menu-link:hover {
  color: #404bbf;
}
.header-addres {
  display: none;
}

.header-contacts-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:focus,
.header-contacts-link:hover {
  color: #404bbf;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2e2f42;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mob-menu-nav {
  margin-bottom: auto;
}

.mob-menu-close {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close:hover,
.mob-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.menu-btn-close-svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close:hover .menu-btn-close-svg,
.mob-menu-close:focus .menu-btn-close-svg {
  fill: #ffffff;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.active-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mob-menu-contacts-list {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mailto-active {
  color: #4d5ae5;
}
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url(../images/hero-bg-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and(min-resolution:2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;

  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;

  max-width: 216px;
  margin-bottom: 72px;
}
.hero-button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  gap: 72px;
}
.features-item {
  width: 100%;
}
.features-svg-container {
  display: none;
}

.features-item-title {
  font-weight: 700;

  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}
.features-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;

  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 12px;
  padding-right: 12px;
  padding: 96px 12px 96px 12px;
}
.team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}
.team-list {
  display: flex;

  gap: 72px;
  flex-wrap: wrap;
}
.team-list-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-div-tittle-text {
  padding: 32px 0;
}
.team-list-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}
.team-list-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-link:hover,
.social-item-link:focus {
  background-color: #404bbf;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 288px;
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-div-title-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.portfolio-container-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  background-color: #2e2f42;

  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-bottom: 72px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.foooter-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffff;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
}
.footer-flex-container {
  display: flex;

  flex-wrap: wrap;
}
.footer-social-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: start;
  margin-bottom: 72px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item-link:hover,
.footer-social-item-link:focus {
  background-color: #31d0aa;
}
.social-item-svg {
  fill: #f4f4fd;
}
.footer-social-item-svg {
  fill: #f4f4fd;
}
.subscribe {
  margin: 0 auto;
}
.subscribe-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  text-indent: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form-input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}
.footer-form-btn {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 8px 24px 8px 24px;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-btn-svg {
  fill: #ffff;
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;

  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 16px 24px 16px;
}
.modal-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form-div {
  margin-bottom: 8px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-modal {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus-within {
  border-color: #4d5ae5;
}
.modal-form-spn {
  position: relative;
  color: #2e2f42;
}
.modal-svg {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-spn:focus-within .modal-svg {
  fill: #4d5ae5;
}
.modal-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-massage {
  resize: none;
  border: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  margin-top: 4px;
  border-radius: 4px;

  margin-bottom: 4px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
}
.modal-massage::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;

  font-weight: 400;
}
.modal-massage:focus {
  border-color: #4d5ae5;
}

.privacy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffff;
  margin: 0 auto;
  margin-top: 24px;
  background: #4d5ae5;
  display: block;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-form-btn:hover {
  background-color: #404bbf;
  border: none;
}
.privacy-input {
  width: 16px;
  height: 16px;
}

.modal-btn-close {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close-svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover .btn-close-svg,
.modal-btn-close:focus .btn-close-svg {
  fill: #ffffff;
}

.modal-privacy {
  display: flex;
  gap: 8px;
  align-items: center;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-form-comment {
  margin-bottom: 16px;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.privacy-label {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: relative;
}
.privacy-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  margin-top: 7px;
}
.modal-text-span {
  display: inline-block;
  position: absolute;
  width: 231px;
}
.privacy-input:checked + .privacy-label > .privacy-label-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

/*-------------Media------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .burger-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-addres {
    font-style: normal;
    display: block;
  }
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .mob-menu {
    display: none;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    max-width: 768px;
  }
  @media screen and(min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          rgb(46, 47, 66, 0.7),
          rgb(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    line-height: 107%;
    margin-bottom: 36px;
  }
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-item-title {
    text-align: left;
  }
  .team {
    padding-left: 92px;
    padding-right: 92px;
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .footer {
    padding-left: 92px;
  }
  .footer-logo-title {
    margin-right: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-flex-container {
    align-items: baseline;
  }
  .footer-social-div {
    display: block;
  }
  .foooter-social-title {
    text-align: left;
  }
  .subscribe {
    margin: 0;
  }
  .subscribe-text {
    text-align: left;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .privacy-label-span {
    margin: 0;
    margin-right: 8px;
  }
  .modal-text-span {
    width: 360px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
    margin-left: 332px;
  }
  .mob-menu {
    display: none;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
  }
  @media screen and(min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          rgb(46, 47, 66, 0.7),
          rgb(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .features-svg {
    fill: currentColor;
  }
  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
  .team {
    padding: 120px 0px 120px 0px;
  }
  .team-list {
    gap: 24px;
  }
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }
  .footer-logo-title {
    margin-right: 120px;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-flex-container {
    align-items: baseline;
  }
  .footer-social-list {
    margin-bottom: 0;
  }
  .subscribe {
    margin-left: 80px;
  }
}
